:root {
  --primary-text-color: rgb(0, 3, 59);
  --primary-bg-color: rgb(188, 188, 188);
  --navbar-height: 40px;
  color: var(--primary-text-color);
}

html {
  font-size: 14pt;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

a,
button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

main {
  background-color: rgb(154, 184, 225);
  margin-top: var(--navbar-height); 
  min-height: calc(100vh - var(--navbar-height));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar {
  width: 100%; 
  background: rgb(240, 240, 240); 
  height: var(--navbar-height); 
  position: fixed;
  top: 0; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
  align-items: center;
}

#navbar > * {
  color: var(--primary-text-color);
}

.align-v {
  align-items: center;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
  display: flex;
}

.flex-col {
  flex-direction: column;
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.box-border {
  box-sizing: border-box;
}

.w-full {
  width: 100%;
}

.hide,
.hide > * {
  opacity: 0;
  pointer-events: none;
}

.text-white{
  --un-text-opacity: 1;
  color: rgba(255,255,255,var(--un-text-opacity));
}

.car-card{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(188, 188, 188);
  box-shadow: 1px 1px 10px -4px #000;
  border-radius: 6px;
  padding: 12px;
  position: relative;
  min-width: 250px;
  background: white;
}

.car-card span, 
.car-card button {
  color: var(--primary-text-color);
}

.edit-icon {
  position: absolute;
  top: 4px;
  right: 8px;
}

.btn-no-styles {
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;
  border: none;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.expense-row {
  display: grid;
  grid-template-columns: 70% 30%;
  row-gap: 10px;
  font-size: 11pt;
  color:var(--primary-text-color);
  padding: 4px 0;

}

.expense-item {
  
}

.expense-item-right{
  justify-self: end;
}

.expense-item-left {

}